<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopify Assistant</title>
    <link rel="stylesheet" href="style/auth.css" />
    <script src="js/apiClient.js"></script>
    <script src="js/auth.js"></script>
  </head>
  <body>
    <div id="auth">
      <p>Log in to be able to manage the products of your shopify store</p>
      <form>
        <input type="text" placeholder="Username" id="username" />
        <input type="password" placeholder="Password" id="password" />
        <input type="submit" value="Log in" />
      </form>
    </div>
  </body>
</html>
